body {
    background-color: grey;
}

.masthead {
    padding-bottom: 500px;
}


#overlay {
    text-shadow: black 0px 0px 10px;
}

.section-subheading {
    color: blanchedalmond;
}

.rounded-circle  {
    height: 159px;
    width: 300px;
 }

 .streamers {
    text-align: center;
 }

#centerRow1 {
    display: inline-block;
    margin-left: 5px;
}
.paddingfortwitch {
    padding-left: 10px;
}

#team {
    background-color: grey;
}

#contactme {
    text-shadow: black 10px 10px 15px;
    text-decoration: underline;
}

/* .footer {
    background-color: white;
} */

.email, .message {
    color: black;
}

.bio {
    background-color: black;
}

            
#carouselExampleControls {
    transition: none;
}

#success {
    padding-bottom: 182px;
}








